<a href="https://colab.research.google.com/github/ashraf281/coding_practice/blob/master/credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing the important libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#Loading data set pandas dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [3]:
#first five rows of the data
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [4]:
credit_card_data.tail()

            Time        V1        V2  ...       V28  Amount  Class
204076  135100.0  2.126725 -0.105402  ... -0.071622    1.98    0.0
204077  135100.0 -0.582696  2.109869  ...  0.015287   13.26    0.0
204078  135101.0  1.988614 -0.207240  ... -0.028725    7.47    0.0
204079  135102.0  1.862102 -0.124052  ...  0.006155  108.51    1.0
204080  135102.0  0.245859  0.925437  ...       NaN     NaN    NaN

[5 rows x 31 columns]

In [5]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204081 entries, 0 to 204080
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    204081 non-null  float64
 1   V1      204081 non-null  float64
 2   V2      204081 non-null  float64
 3   V3      204081 non-null  float64
 4   V4      204081 non-null  float64
 5   V5      204081 non-null  float64
 6   V6      204081 non-null  float64
 7   V7      204081 non-null  float64
 8   V8      204081 non-null  float64
 9   V9      204081 non-null  float64
 10  V10     204081 non-null  float64
 11  V11     204081 non-null  float64
 12  V12     204080 non-null  float64
 13  V13     204080 non-null  float64
 14  V14     204080 non-null  float64
 15  V15     204080 non-null  float64
 16  V16     204080 non-null  float64
 17  V17     204080 non-null  float64
 18  V18     204080 non-null  float64
 19  V19     204080 non-null  float64
 20  V20     204080 non-null  float64
 21  V21     204080 non-null  float64
 22  V22     204080 non-null  float64
 23  V23     204080 non-null  float64
 24  V24     204080 non-null  float64
 25  V25     204080 non-null  float64
 26  V26     204080 non-null  float64
 27  V27     204080 non-null  float64
 28  V28     204080 non-null  float64
 29  Amount  204080 non-null  float64
 30  Class   204080 non-null  float64
dtypes: float64(31)
memory usage: 48.3 MB

In [6]:
#checking the number of missing value in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [8]:
credit_card_data = credit_card_data.dropna(how ='any')

In [9]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
#distribution of legit transactions& fraudlent transaction
credit_card_data['Class'].value_counts()

0.0    203688
1.0       392
Name: Class, dtype: int64

This dataset is highly unbalanced
0--> legit transaction
1-->fraudulent transaction

In [12]:
#seperating the data for analysis
legit =credit_card_data[credit_card_data.Class==0]
fraud= credit_card_data[credit_card_data.Class==1]

In [13]:
print(legit.shape)
print(fraud.shape)

(203688, 31)
(392, 31)

In [15]:
#statistical measure
legit.Amount.describe()

count    203688.000000
mean         89.698841
std         248.388033
min           0.000000
25%           5.990000
50%          23.000000
75%          79.190000
max       19656.530000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     392.000000
mean      123.485765
std       257.455297
min         0.000000
25%         1.000000
50%        12.310000
75%       105.915000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
#compare the value for both transaction
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    71931.358926 -0.085236 -0.006647  ...  0.001063  0.001671   89.698841
1.0    62596.510204 -5.586024  4.158763  ...  0.181626  0.059742  123.485765

[2 rows x 30 columns]

Under- sampling

Building a sample dataset containing similar distribution of legit and fraudulent transaction
Number of fraudulent transaction -->392

In [18]:
legit_sample =legit.sample(n=392)

concatenating two dataframes one is legit and other fraud

In [19]:
new_dataset =pd.concat([legit_sample, fraud],axis=0)

In [20]:
new_dataset.head()

           Time        V1        V2  ...       V28  Amount  Class
126256  77969.0  1.159517 -0.592162  ...  0.017396    1.00    0.0
128717  78810.0 -0.549236 -0.285172  ...  0.117558  112.15    0.0
111830  72387.0  1.237763  0.269825  ...  0.016355    0.99    0.0
56634   47516.0  1.234827  0.126813  ...  0.012330    1.98    0.0
71220   54212.0 -3.460874 -1.976945  ... -0.157216    8.02    0.0

[5 rows x 31 columns]

In [21]:
new_dataset.tail()

            Time        V1        V2  ...       V28  Amount  Class
203324  134766.0 -0.079653  3.222010  ...  0.595610    1.00    1.0
203328  134769.0 -0.967767  2.098019  ...  0.162777  925.31    1.0
203700  134928.0  1.204934  3.238070  ...  0.340847    0.00    1.0
204064  135095.0  0.232512  0.938944  ... -0.029315  345.00    1.0
204079  135102.0  1.862102 -0.124052  ...  0.006155  108.51    1.0

[5 rows x 31 columns]

In [22]:
new_dataset['Class'].value_counts()

1.0    392
0.0    392
Name: Class, dtype: int64

In [23]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    69224.790816 -0.192116 -0.038772  ... -0.028386 -0.002445  112.870332
1.0    62596.510204 -5.586024  4.158763  ...  0.181626  0.059742  123.485765

[2 rows x 30 columns]

splitting the data into features and target

In [24]:
X =new_dataset.drop(columns='Class', axis=1)
Y= new_dataset['Class']

In [25]:
print(X)

            Time        V1        V2  ...       V27       V28  Amount
126256   77969.0  1.159517 -0.592162  ...  0.093276  0.017396    1.00
128717   78810.0 -0.549236 -0.285172  ... -0.026068  0.117558  112.15
111830   72387.0  1.237763  0.269825  ... -0.029671  0.016355    0.99
56634    47516.0  1.234827  0.126813  ... -0.042472  0.012330    1.98
71220    54212.0 -3.460874 -1.976945  ...  0.465174 -0.157216    8.02
...          ...       ...       ...  ...       ...       ...     ...
203324  134766.0 -0.079653  3.222010  ...  0.668497  0.595610    1.00
203328  134769.0 -0.967767  2.098019  ...  0.956769  0.162777  925.31
203700  134928.0  1.204934  3.238070  ...  0.491828  0.340847    0.00
204064  135095.0  0.232512  0.938944  ...  0.180859 -0.029315  345.00
204079  135102.0  1.862102 -0.124052  ... -0.019579  0.006155  108.51

[784 rows x 30 columns]

In [26]:
print(Y)

126256    0.0
128717    0.0
111830    0.0
56634     0.0
71220     0.0
         ...
203324    1.0
203328    1.0
203700    1.0
204064    1.0
204079    1.0
Name: Class, Length: 784, dtype: float64

Splitting the data into training data and testing data

In [27]:
X_train, X_test, Y_train, Y_test =train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [28]:
print(X.shape, X_train.shape, X_test.shape)

(784, 30) (627, 30) (157, 30)

Model Training
Logistic Regression

In [29]:
model =LogisticRegression()

In [31]:
# training the logistic regression model with training data
model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Evaluation

Accuracy score

In [34]:
#accuracy on training data
X_train_prediction= model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [35]:
print('Accuracy on training data: ',training_data_accuracy)

Accuracy on training data:  0.94896331738437

In [36]:
#accuracy on test data
X_test_prediction= model.predict(X_test)
testing_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [37]:
print('Accuracy score on test data: ',testing_data_accuracy)

Accuracy score on test data:  0.9299363057324841